<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="weather">
    <title>Weather</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="app/style.css" rel="stylesheet">

</head>

<body ng-app="app" ng-controller="WeatherController">

<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">Weather</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link">
                    Number of cities: <input type="number" min="1" max="50" maxlength="4" ng-model="numberCities">
                </a>
            </li>
            <li class="nav-item cities-list">
                <label ng-repeat="city in cities">
                    <input type="checkbox" name="selectCities[]" value="{{city.id}}" ng-checked="selection.indexOf(city.id) > -1" ng-click="toggleSelection(city.id)" />
                    <span class="text-white">{{city.name}}</span> &nbsp;
                </label>
            </li>
        </ul>
    </div>
</nav>

<div class="card" ng-repeat="(index, city) in cities" ng-show="selection.indexOf(city.id) != -1" title="{{city.weather[0].description}} - Humidity: {{city.main.humidity}}%">
    <div id="card-cityName">{{city.name}}</div>
    <table>
        <tr>
            <td><img ng-src="http://openweathermap.org/img/w/{{city.weather[0].icon}}.png"></td>
            <td class="text-temp">{{city.main.temp}}<sup>o</sup>C</td>
        </tr>
    </table>
</div>

<div class="text-center text-primary" ng-show="loading">
    loading ...
    <div>
        <label>●</label>
        <label>●</label>
        <label>●</label>
        <label>●</label>
        <label>●</label>
        <label>●</label>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.min.js"></script>

<script type="text/javascript" src="app/app.js"></script>

</body>
</html>